div#box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: red;
  border-radius: 50%;
  animation: changeColor 5s infinite reverse;
}

@keyframes changeColor {
  0% {
    background-color: red;
    transform: translateX(10vw);
  }
  50% {
    background-color: rgb(243, 107, 10);
    transform: translateX(10vw) translateX(40vw);
  }
  100% {
    background-color: rgb(77, 233, 5);
    transform: translateX(10vw) translateX(40vw) translateY(10vh);
  }
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: green;
}
