#myContainer {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  border: 2px solid lightcoral;
  color: blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: blueviolet;
  border: 1px solid darkcyan;
  font-size: 2rem;
}
